<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-danger text-center">ESTA DIRECCION NO EXISTE</h1>
        </div>
    </div>
</div>